# =========== Para Farm Bot ==============
# Em segundos. Ações de aplicar tool
INTERVAL_BETWEEN_ACTIONS=2
# Em minutos. Loop de verificação da Farm
LOOP_TIME=5
# Token JWT gerado no navegador pelo jogo
TOKEN=abcde

# =========== Para Relatório de plantas ==============
# Para relatório:
MIN_PROFIT=7
MIN_PRICE=8
MAX_PRICE=16
# Formato certo: 99.9
# PVU_PRICE em DOLARES
PVU_PRICE=2
REAIS_PRICE=5.46
CONVERSION_LE_PVU=665
# cache de dados para relatório (em minutos). Para evitar ficar chamando api deles varias vezes se rodar report varias vezes tb
CACHE_EXPIRES_IN=2
# tipos/elementos das plantas, exemplo de valor pra filtrar FOGO, LUZ e METAL: fire,light,metal
# deixar em branco para não filtrar elementos
PLANT_ELEMENTS_FILTER=
# plant = 1; mother tree = 2;
PLANT_TYPE=1
